
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
  --gap: 2.6vw;
  --font: 0.83vw;
}

html {
  box-sizing: border-box;
  font-size: var(--font);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* global */

body {
  max-width: 100vw;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.main {
  margin-bottom: calc(var(--gap) * 2);
}

.section {
  margin-bottom: calc(var(--gap) * 2);
}

.container {
  width: calc(100% - var(--gap) * 3);
  margin: 0 auto;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-reset {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.img {
  max-width: 100%;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.section-title {
  margin-bottom: calc(var(--gap) * 0.4);
  font-weight: 400;
  font-size: 3rem;
  line-height: 123%;
}

/* plugins */

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: none;
  font-size: 1.5rem;
}

.ui-accordion .ui-accordion-content {
  padding: none;
  border: none;
  overflow: auto;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  color: inherit;
}

.ui-widget {
  font-family: inherit;
  font-size: none;
}

.ui-icon, .ui-widget-content .ui-icon {
  display: none;
}




/* header */

.header {
  position: relative;
  margin-bottom: var(--gap);
  background-color: #FFFFFF;
  box-shadow: 0px calc(var(--gap) * 0.1) calc(var(--gap) * 0.8) rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px calc(var(--gap) * 0.64) calc(var(--gap) * 0.64);
}

.header__container {
  padding: calc(var(--gap) * 0.3) 0;
  display: flex;
  align-items: center;
}

.body--block {
  overflow: hidden;
}

.burger-button {
  display: none;
  position: relative;
  width: 30px;
  height: 23px;
}

.burger-line {
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
  background-color: currentColor;
}

.burger-line:nth-child(1) {
  top: 0;
}

.burger-line:nth-child(2) {
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
}

.burger-line:nth-child(3) {
  bottom: 0;
}



.header__logo-link {
  margin-right: auto;
  width: calc(var(--gap) * 4.5);
}

.header__logo-img {
  width: inherit;
}

.header__nav .nav__list {
  display: flex;
  margin-right: calc(var(--gap) * 5.2);
}

.header__nav .nav__item {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 122%;
}

.header__nav .nav__item:not(:last-child) {
  margin-right: calc(var(--gap) * 1.7);
}

.header__nav .nav__link {
  position: relative;
}

.header__nav .nav__link:focus {
  outline: 0.125rem solid #FF9900;
  outline-offset: 0.25rem;
  transition: outline 0.2s ease-in-out 0s;
}

.header__nav .nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #FF9900;
  bottom: -0.3rem;
  left: 0;
  opacity: 0;
}

.header__nav .nav__link:hover {
  outline: none;
  transition: outline 0.2s ease-in-out 0s;
}

.header__nav .nav__link:hover::after {
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0s;
}

.header__nav .nav__link:active {
  color: #E1670E;
  transition: color 0.2s ease-in-out 0s;
}

.header__nav .nav__link:active::after {
  background-color: #E1670E;
  transition: background-color 0.2s ease-in-out 0s;
}


.header__search-btn:focus {
  outline: 2px solid #FF9900;
  outline-offset: 0.25rem;
  transition: outline 0.2s ease-in-out 0s;
}

.header__search-btn:hover {
  outline: none;
  transition: outline 0.2s ease-in-out 0s;
}

.header__search-btn:hover path {
  stroke: #FF9900;
  transition: stroke 0.2s ease-in-out 0s;
}

.header__search-btn:hover rect {
  fill: #ff9900;
  transition: fill 0.2s ease-in-out 0s;
}

.header__search-btn:active path {
  stroke: #FF9900;
  transition: stroke 0.2s ease-in-out 0s;
}

.header__search-btn:active rect {
  fill: #ff9900;
  transition: fill 0.2s ease-in-out 0s;
}


.header__form {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  visibility: hidden;
  padding: 18px 13px 18px 32px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  transform: matrix(0.01, 0, 0, 1, 200, -20);
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  overflow: hidden;
}

.header__form--active {
  visibility: visible;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.header__search-btn--hidden {
  visibility: hidden;
}

.header__form .form__input {
  width: 412px;
  border: none;
  outline: none;
  border-bottom: 1px solid #CACACA;
  margin-right: 14px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 122%;
}

.form__search-btn {
  margin-right: 20px;
}

.form__search-btn path {
  stroke: #FF9900;
  transition: stroke 0.3s ease-in-out;
}

.form__search-btn rect {
  fill: #ff9900;
  transition: fill 0.3s ease-in-out;
}


/* hero */

.hero {
  margin-bottom: var(--gap);
  padding-top: 0;
}

.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__content {
  padding: calc(var(--gap) * 2) calc(var(--gap) * 1.6);
}

.hero__swiper-wrapper {
  position: absolute;
  z-index: -10;
}

.hero__swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: calc(var(--gap) * 0.64);
}

.hero__swiper-slide-1 {
  background-image: url(../img/hero-slider/hero-backg-1.jpg);
}

.hero__swiper-slide-2 {
  background-image: url(../img/hero-slider/hero-backg-2.jpg);
}

.hero__swiper-slide-3 {
  background-image: url(../img/hero-slider/hero-backg-3.jpg);
}

.swiper-button-next, .swiper-button-prev {
  color: #cacaca;
  opacity: 0.7;
}

.swiper-pagination-bullet {
  background-color: #cacaca;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.hero__title {
  width: 60%;
  margin-bottom: calc(var(--gap) * 0.5);
  font-weight: 800;
  font-size: 4.375rem;
  line-height: 121%;
  color: #FFFFFF;

}

.hero__descr {
  width: 50%;
  margin-bottom: calc(var(--gap) * 1.8);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 121%;
  color: #FFFFFF;
}

.hero__button {
  font-weight: 700;
  font-size: 1.44rem;
  padding: calc(var(--gap) * 0.5) calc(var(--gap) * 0.76);
  line-height: 121%;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF9900;
  border-radius: calc(var(--gap) * 0.32);
  transition: background-color 0.1s ease-in-out 0s;
}

.hero__button:focus {
  background-color: #FFB84D;
}

.hero__button:hover {
  background-color: #FFB84D;
}

.hero__button:active {
  background-color: #E1670E;
}

/* about-us */

.about-us__descr {
  width: 70%;
  margin-bottom: var(--gap);
  font-weight: 400;
  font-size: 1rem;
  line-height: 200%;
}

.about-us__bottom-descr {
  display: flex;
  height: calc(var(--gap) * 12.44);
}

.about-us__left {
  display: flex;
  align-items: flex-end;
  width: 49%;
  margin-right: calc(var(--gap) * 0.64);
  border-radius: calc(var(--gap) * 0.64);
  background-image: url(../img/about-us-back-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-us__left .left__content {
  /* height: 35%; */
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--gap);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: inherit;
}

.about-us__left .left__text {
  width: 50%;
  margin-right: auto;
  font-weight: 700;
  font-size: 1rem;
  line-height: 200%;
  color: #FFFFFF;
}

.about-us__left .left__button {
  padding: calc(var(--gap) * 0.34) calc(var(--gap) * 0.7);
  border: calc(var(--gap) * 0.06) solid #FF9900;
  border-radius: calc(var(--gap) * 0.32);
  font-weight: 700;
  font-size: 1rem;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
}

.about-us__left .left__button:focus {
  background-color: #FF9900;
  border-color: #FF9900;
}

.about-us__left .left__button:hover {
  background-color: #FF9900;
  border-color: #FF9900;
}

.about-us__left .left__button:active {
  background-color: #E1670E;
  border-color: #E1670E;
}

.about-us__right {
  width: 49%;
}

.about-us__right .right__item {
  display: flex;
  height: calc(var(--gap) * 5.9);
  padding: calc(var(--gap) * 1.3) calc(var(--gap) * 1.2);
  border: calc(var(--gap) * 0.02) solid #CACACA;
  border-radius: calc(var(--gap) * 0.64);
}

.about-us__right .right__item:not(:last-child) {
  margin-bottom: calc(var(--gap) * 0.64);
}

.about-us__right .right__img {
  width: calc(var(--gap) * 3.8);
  height: calc(var(--gap) * 3.3);
  margin-right: var(--gap);
}

.about-us__right .right__descr {
  width: calc(var(--gap) * 9.5);
}

.about-us__right .right__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  padding-bottom: 0.5rem;
}

.about-us__right .right__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 200%;
}

/* work-descr */

.work-descr__container {
  /* height: calc(var(--gap) * 12.92); */
  position: relative;
  
}

.work-descr__title {
  margin-bottom: var(--gap);
}

.work-descr__list {
  display: flex;
  margin-bottom: calc(var(--gap) * 0.9);
}

.work-descr__item {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 122%;
}

.work-descr__step-btn {
  transition: color 0.2s ease-in-out 0s, outline 0.2s ease-in-out 0s;
}

.work-descr__step-btn:focus {
  outline: calc(var(--gap) * 0.04) solid #ff9900;
  outline-offset: calc(var(--gap) * 0.08);
}

.work-descr__step-btn:hover {
  outline: none;
  color: #FF9900;
}

.work-descr__step-btn:active {
  outline: none;
  color: #E1670E;
}

.work-descr__item:not(:last-child) {
  margin-right: calc(var(--gap) * 1.72);
}

.work-descr__content {
  display: none;
}

.work-descr__content .content__item {
  margin-right: calc(var(--gap) * 2.84);
}

.work-descr__content .content__image {
  width: 49%;
  min-width: 49%;
  height: calc(var(--gap) * 9.2);
  padding-top: 10px;
  border-radius: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-1 .content__image {
  background-image: url('../img/work-descr/work-descr-img-1920-1.png');
}

.content-2 .content__image {
  background-image: url('../img/work-descr/work-descr-img-1920-2.png');
}

.content-3 .content__image {
  background-image: url('../img/work-descr/work-descr-img-1920-3.png');
}

.content-4 .content__image {
  background-image: url('../img/work-descr/work-descr-img-1920-4.png');
}

.step-btn--active {
  outline: none;
  color: #E1670E;
}

.content--active {
  display: flex;
}

.work-descr__content .content__title {
  padding-bottom: calc(var(--gap) * 0.16);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 133%;
}

.work-descr__content .content__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 200%;
}

.work-descr__buttons {
  position: absolute;
  bottom: 0;
  left: 0;
}



.work-descr__content .content__image img {
  max-width: calc(var(--gap) * 17.4);
}

.work-descr__button1 {
  margin-right: calc(var(--gap) * 0.56);
  padding: calc(var(--gap) * 0.4) calc(var(--gap) * 0.76);
  font-weight: 700;
  font-size: 1rem;
  line-height: 125%;
  color: #FFFFFF;
  background: #FF9900;
  border-radius: calc(var(--gap) * 0.32);
  transition: border-color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
}

.work-descr__button1:focus {
  background-color: #FFB84D;
}

.work-descr__button1:hover {
  background-color: #FFB84D;
}

.work-descr__button1:active {
  background-color: #E1670E;
}

.work-descr__button2 {
  width: calc(var(--gap) * 2.94);
  height: calc(var(--gap) * 1.2);
  font-weight: 400;
  font-size: 1rem;
  line-height: 125%;
  color: #000000;
  border: calc(var(--gap) * 0.02) solid #000000;
  border-radius: calc(var(--gap) * 0.32);
  transition: color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
}

.work-descr__button2:focus {
  background-color: #666666;
  color: #ffffff;
  border-color: #666666;
}

.work-descr__button2:hover {
  background-color: #666666;
  color: #ffffff;
  border-color: #666666;
}

.work-descr__button2:active {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

/* questions */


.questions__container {
  padding-top: calc(var(--gap) * 0.22);
}

.questions__title {
  padding-bottom: calc(var(--gap) * 0.66);
  margin: 0;
}

.questions__accordions-item {
  align-items: center;
}



.questions__accordions-btn {
  display: flex !important;
  position: relative !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  padding: calc(var(--gap) * 0.62) 0 !important;
  font-weight: 700 !important;
  font-size: 1.5rem;
  line-height: 133%;
  transition: color 0.3s ease-in-out 0s !important;
}

.questions__accordions-text {
  padding: 1rem 0 !important;
  font-weight: 400;
  font-size: 1rem;
  line-height: 200%;
}

.questions__accordions-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(var(--gap) * 0.02);
  background-color: #CACACA;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease-in-out 0s;
}

.questions__accordions-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(var(--gap) * 0.02);
  background-color: #CACACA;
  bottom: calc(-1 * (var(--gap) * 0.02));
  left: 0;
  transition: background-color 0.2s ease-in-out 0s;
}

.questions__accordions-btn .questions__cross {
  width: calc(var(--gap));
  height: calc(var(--gap));
  transition: transform 0.3s ease-in-out 0s;
}

.ui-accordion .ui-accordion-header-active .questions__cross {
  transform: rotate(45deg);
}

.questions__accordions-btn:focus {
  color: #FF9900;
}

.questions__accordions-btn ellipse, .questions__accordions-btn path {
  transition: fill 0.2s ease-in-out 0s;
}

.questions__accordions-btn:focus ellipse {
  fill: #FF9900;
}

.questions__accordions-btn:focus path {
  fill: #ffffff;
}

.questions__accordions-btn:focus::before ,.questions__accordions-btn:focus::after {
  z-index: 10;
  background-color: #FF9900;
}

.questions__accordions-btn:hover {
  color: #FF9900;
}


.questions__accordions-btn:hover::before ,.questions__accordions-btn:hover::after {
  z-index: 10;
  background-color: #FF9900;
}

.questions__accordions-btn:hover ellipse {
  fill: #FF9900;
}

.questions__accordions-btn:hover path {
  fill: #ffffff;
}




.questions__accordions-btn:active {
  color: #000000;
}


.questions__accordions-btn:active::before ,.questions__accordions-btn:active::after {
  z-index: 10;
  background-color: #CACACA;
}

.questions__accordions-btn:active .questions__cross {
  transform: rotate(45deg);
}

.questions__accordions-btn:active ellipse {
  fill: #CACACA;
}

.questions__accordions-btn:active path {
  fill: black;
}



.questions__acordions-text {
  margin-right: auto;
}

/* footer */

footer {
  background-color: #000000;
}

.footer__container {
  display: flex;
  align-items: center;
  padding-top: var(--gap);
  padding-bottom: var(--gap);
  color: #ffffff;
}

.footer__left {
  width: calc(var(--gap) * 5.04);
  margin-right: calc(var(--gap) * 6.98);
}

.footer__left .left__logo-link {
  display: inline-block;
  margin-bottom: calc(var(--gap) * 0.32);
}

.footer__left .left__logo-link img {
  width: calc(var(--gap) * 4.48);
  height: calc(var(--gap) * 1.44);
}

.footer__left .left__nav-list {
  margin-bottom: calc(var(--gap) * 1.8);
}

.footer__left .left__nav-item {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 200%;
  color: #CACACA;
}

.footer__left .left__nav-link {
  transition: color 0.2s ease-in-out 0s, outline 0.2s ease-in-out 0s;
}

.footer__left .left__nav-link:focus {
  outline: calc(var(--gap) * 0.04) solid #FF9900;
  outline-offset: calc(var(--gap) * 0.08);
}

.footer__left .left__nav-link:hover {
  color: #FF9900;
  outline: none;
}

.footer__left .left__nav-link:active {
  color: #E1670E;
  outline: none;
}

.footer__left .left__soc-list {
  display: flex;
}

.footer__left .left__soc-item:not(:last-child) {
  margin-right: calc(var(--gap) * 0.5);
}

.footer__left .left__soc-link, .footer__left .left__soc-link path {
  transition: fill 0.2s ease-in-out 0s, outline 0.2s ease-in-out 0s;
}

.footer__left .left__soc-link, .footer__left .left__soc-link svg {
  width: calc(var(--gap) * 1.2);
  height: calc(var(--gap) * 1.2);
}

.footer__left .left__soc-link:focus {
  outline: calc(var(--gap) * 0.04) solid #FF9900;
  outline-offset: calc(var(--gap) * 0.08);
}

.footer__left .left__soc-link:hover {
  outline: none;
}

.footer__left .left__soc-link:hover path {
  outline: none;
  fill: #FF9900;
}

.footer__left .left__soc-link:active {
  outline: none;
}

.footer__left .left__soc-link:active path {
  outline: none;
  fill: #E1670E;
}



.footer__center {
  width: calc(var(--gap) * 11.4);
  margin-right: calc(var(--gap) * 4.72);
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__form .form__title {
  margin-bottom: calc(var(--gap) * 0.5);
  color: #CACACA;
}

.footer__form .form__input {
  border: none;
  height: calc(var(--gap) * 1.2);
  width: 100%;
  margin-bottom: calc(var(--gap) * 0.5);
  padding: calc(var(--gap) * 0.28) calc(var(--gap) * 0.48);
  background-color: #414141;
  border-radius: calc(var(--gap) * 0.32);
  font-weight: 400;
  font-size: 1rem;
  line-height: 200%;
}

.footer__form .form__comment {
  border: none;
  height: calc(var(--gap) * 3);
  margin-bottom: calc(var(--gap) * 0.64);
  padding: calc(var(--gap) * 0.28) calc(var(--gap) * 0.48);
  background-color: #414141;
  border-radius: calc(var(--gap) * 0.32);
  font-weight: 400;
  font-size: 1rem;
  line-height: 200%;
  resize: none;
}

.footer__form .form__input, .footer__form .form__comment {
  color: #ffffff;
  outline: none;
  transition: background-color 0.2s ease-in-out 0s;
}

.footer__form .form__input:focus, .footer__form .form__comment:focus {
  background-color: #666666;
}

.footer__form .form__input:hover, .footer__form .form__comment:hover {
  background-color: #666666;
}

.footer__form .form__input:active, .footer__form .form__comment:active {
  background-color: #666666;
}

.form__bottom {
  display: flex;
  align-items: center;
}

.footer__form .form__button {
  width: calc(var(--gap) * 5.38);
  height: calc(var(--gap) * 1.16);
  margin-right: calc(var(--gap) * 0.25);
  background-color: #FF9900;
  border-radius: calc(var(--gap) * 0.32);
  font-weight: 700;
  font-size: 1rem;
  line-height: 125%;
  color: #FFFFFF;
  transition: background-color 0.2s ease-in-out 0s;
}

.footer__form .form__button:focus {
  background-color: #FFB84D;
}

.footer__form .form__button:hover {
  background-color: #FFB84D;
}

.footer__form .form__button:active {
  background-color: #E1670E;
}

.footer__form .form__label {
  font-weight: 400;
  font-size: 1rem;
  line-height: 200%;
  color: #CACACA;
}

.footer__form .form__label input {
  width: calc(var(--gap) * 0.28);
  height: calc(var(--gap) * 0.28);
}


.footer__right {
  width: calc(var(--gap) * 7.26);
}

.footer__right .right__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 200%;
  color: #CACACA;
}