
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* global */

body {
  min-width: 1920px;
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.section {
  margin-bottom: 100px;
}

.container {
  min-width: 1770px;
  max-width: 1770px;
  margin: 0 auto;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-reset {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.img {
  max-width: 100%;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.section-title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

/* header */

.header {
  margin-bottom: 50px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
}

.header__container {
  height: 100px;
  display: flex;
  align-items: center;
}

.header__logo-link {
  margin-right: 553px;
  padding-top: 3px;
}

.header__nav .nav__list {
  display: flex;
  margin-right: 260px;
}

.header__nav .nav__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header__nav .nav__link {
  position: relative;
}

.header__nav .nav__link:focus {
  outline: 2px solid #FF9900;
  outline-offset: 4px;
  transition: outline 0.2s ease-in-out 0s;
}

.header__nav .nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FF9900;
  bottom: -5px;
  left: 0;
  opacity: 0;
}

.header__nav .nav__link:hover {
  outline: none;
  transition: outline 0.2s ease-in-out 0s;
}

.header__nav .nav__link:hover::after {
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0s;
}

.header__nav .nav__link:active {
  color: #E1670E;
  transition: color 0.2s ease-in-out 0s;
}

.header__nav .nav__link:active::after {
  background-color: #E1670E;
  transition: background-color 0.2s ease-in-out 0s;
}

.header__nav .nav__item:not(:last-child) {
  margin-right: 85px;
}

.header__search {
  padding-top: 3px;
  padding-left: 1px;
}


.header__search-btn:focus {
  outline: 2px solid #FF9900;
  outline-offset: 4px;
  transition: outline 0.2s ease-in-out 0s;
}

.header__search-btn:hover {
  outline: none;
  transition: outline 0.2s ease-in-out 0s;
}

.header__search-btn:hover path {
  stroke: #FF9900;
  transition: stroke 0.2s ease-in-out 0s;
}

.header__search-btn:hover rect {
  fill: #ff9900;
  transition: fill 0.2s ease-in-out 0s;
}

.header__search-btn:active path {
  stroke: #FF9900;
  transition: stroke 0.2s ease-in-out 0s;
}

.header__search-btn:active rect {
  fill: #ff9900;
  transition: fill 0.2s ease-in-out 0s;
}

/* hero */

.hero {
  margin-bottom: 50px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 620px;
  padding: 100px 80px;
  background-image: url(../img/hero-backg-1.jpg);
  border-radius: 32px;
}

.hero__title {
  width: 840px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.hero__descr {
  width: 840px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: auto;
}

.hero__button {
  font-weight: 700;
  font-size: 23px;
  padding: 25px 38px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF9900;
  border-radius: 16px;
  transition: background-color 0.1s ease-in-out 0s;
}

.hero__button:focus {
  background-color: #FFB84D;
}

.hero__button:hover {
  background-color: #FFB84D;
}

.hero__button:active {
  background-color: #E1670E;
}

/* about-us */

.about-us__descr {
  width: 1235px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.about-us__bottom-descr {
  display: flex;
  height: 622px;
}

.about-us__left {
  display: flex;
  align-items: flex-end;
  min-width: 868px;
  margin-right: 32px;
  border-radius: 32px;
  background-image: url(../img/about-us-back-1.jpg);
  background-size: 100%;
}

.about-us__left .left__content {
  height: 196px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.about-us__left .left__text {
  width: 433px;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.about-us__left .left__button {
  padding: 17px 35px;
  border: 3px solid #FF9900;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
}

.about-us__left .left__button:focus {
  background-color: #FF9900;
  border-color: #FF9900;
}

.about-us__left .left__button:hover {
  background-color: #FF9900;
  border-color: #FF9900;
}

.about-us__left .left__button:active {
  background-color: #E1670E;
  border-color: #E1670E;
}

.about-us__right {
  width: 870px;
}

.about-us__right .right__item {
  display: flex;
  height: 295px;
  padding: 65px 60px;
  border: 1px solid #CACACA;
  border-radius: 32px;
}

.about-us__right .right__item:not(:last-child) {
  margin-bottom: 32px;
}

.about-us__right .right__img {
  width: 190px;
  height: 165px;
  margin-right: 50px;
}

.about-us__right .right__descr {
  width: 452px;
}

.about-us__right .right__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 8px;
}

.about-us__right .right__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* work-descr */

.work-descr__container {
  height: 646px;
  position: relative;
  
}

.work-descr__title {
  margin-bottom: 50px;
}

.work-descr__list {
  display: flex;
  margin-bottom: 45px;
}

.work-descr__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.work-descr__step-btn {
  transition: color 0.2s ease-in-out 0s, outline 0.2s ease-in-out 0s;
}

.work-descr__step-btn:focus {
  outline: 2px solid #ff9900;
  outline-offset: 4px;
}

.work-descr__step-btn:hover {
  outline: none;
  color: #FF9900;
}

.work-descr__step-btn:active {
  outline: none;
  color: #E1670E;
}

.work-descr__item:not(:last-child) {
  margin-right: 86px;
}

.work-descr__content {
  display: flex;
}

.work-descr__content .content__item {
  width: 758px;
  margin-right: auto;
}

.work-descr__content .content__title {
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.work-descr__content .content__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.work-descr__buttons {
  position: absolute;
  bottom: 0;
  left: 0;
}

.work-descr__content .content__image {
  width: 870px;
  height: 460px;
  padding-top: 10px;
  border-radius: 32px;
}

.work-descr__button1 {
  margin-right: 28px;
  padding: 20px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #FF9900;
  border-radius: 16px;
  transition: border-color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
}

.work-descr__button1:focus {
  background-color: #FFB84D;
}

.work-descr__button1:hover {
  background-color: #FFB84D;
}

.work-descr__button1:active {
  background-color: #E1670E;
}

.work-descr__button2 {
  width: 147px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 16px;
  transition: color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
}

.work-descr__button2:focus {
  background-color: #666666;
  color: #ffffff;
  border-color: #666666;
}

.work-descr__button2:hover {
  background-color: #666666;
  color: #ffffff;
  border-color: #666666;
}

.work-descr__button2:active {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

/* questions */

.questions__container {
  padding-top: 11px;
}

.questions__title {
  padding-bottom: 33px;
  margin: 0;

}

.questions__accordions-item {
  display: flex;
  align-items: center;
}

.questions__accordions-btn {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 31px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  transition: color 0.2s ease-in-out 0s;
}

.questions__accordions-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #CACACA;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease-in-out 0s;
}

.questions__accordions-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #CACACA;
  bottom: -1px;
  left: 0;
  transition: background-color 0.2s ease-in-out 0s;
}

.questions__accordions-btn:focus {
  color: #FF9900;
}

.questions__accordions-btn ellipse, .questions__accordions-btn path {
  transition: fill 0.2s ease-in-out 0s;
}

.questions__accordions-btn:focus ellipse {
  fill: #FF9900;
}

.questions__accordions-btn:focus path {
  fill: #ffffff;
}

.questions__accordions-btn:focus::before ,.questions__accordions-btn:focus::after {
  z-index: 10;
  background-color: #FF9900;
}

.questions__accordions-btn:hover {
  color: #FF9900;
}


.questions__accordions-btn:hover::before ,.questions__accordions-btn:hover::after {
  z-index: 10;
  background-color: #FF9900;
}

.questions__accordions-btn:hover ellipse {
  fill: #FF9900;
}

.questions__accordions-btn:hover path {
  fill: #ffffff;
}




.questions__accordions-btn:active {
  color: #000000;
}


.questions__accordions-btn:active::before ,.questions__accordions-btn:active::after {
  z-index: 10;
  background-color: #CACACA;
}

.questions__accordions-btn:active .questions__cross {
  transform: rotate(45deg);
}

.questions__accordions-btn:active ellipse {
  fill: #CACACA;
}

.questions__accordions-btn:active path {
  fill: black;
}



.questions__acordions-text {
  margin-right: auto;
}

/* footer */

footer {
  background-color: #000000;
}

.footer__container {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;
}

.footer__left {
  width: 252px;
  height: 494px;
  margin-right: 349px;
}

.footer__left .left__logo-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer__left .left__nav-list {
  margin-bottom: 90px;
}

.footer__left .left__nav-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
}

.footer__left .left__nav-link {
  transition: color 0.2s ease-in-out 0s, outline 0.2s ease-in-out 0s;
}

.footer__left .left__nav-link:focus {
  outline: 2px solid #FF9900;
  outline-offset: 4px;
}

.footer__left .left__nav-link:hover {
  color: #FF9900;
  outline: none;
}

.footer__left .left__nav-link:active {
  color: #E1670E;
  outline: none;
}

.footer__left .left__soc-list {
  display: flex;
}

.footer__left .left__soc-item:not(:last-child) {
  margin-right: 25px;
}

.footer__left .left__soc-link, .footer__left .left__soc-link path {
  transition: fill 0.2s ease-in-out 0s, outline 0.2s ease-in-out 0s;
}

.footer__left .left__soc-link:focus {
  outline: 2px solid #FF9900;
  outline-offset: 4px;
}

.footer__left .left__soc-link:hover {
  outline: none;
}

.footer__left .left__soc-link:hover path {
  outline: none;
  fill: #FF9900;
}

.footer__left .left__soc-link:active {
  outline: none;
}

.footer__left .left__soc-link:active path {
  outline: none;
  fill: #E1670E;
}



.footer__center {
  width: 570px;
  height: 494px;
  margin-right: 236px;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__form .form__title {
  margin-bottom: 25px;
  color: #CACACA;
}

.footer__form .form__input {
  border: none;
  height: 60px;
  width: 570px;
  margin-bottom: 25px;
  padding: 14px 24px;
  background-color: #414141;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.footer__form .form__comment {
  border: none;
  height: 150px;
  margin-bottom: 32px;
  padding: 14px 24px;
  background-color: #414141;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  resize: none;
}

.footer__form .form__input, .footer__form .form__comment {
  color: #ffffff;
  outline: none;
  transition: background-color 0.2s ease-in-out 0s;
}

.footer__form .form__input:focus, .footer__form .form__comment:focus {
  background-color: #666666;
}

.footer__form .form__input:hover, .footer__form .form__comment:hover {
  background-color: #666666;
}

.footer__form .form__input:active, .footer__form .form__comment:active {
  background-color: #666666;
}


.footer__form .form__button {
  width: 269px;
  height: 58px;
  margin-right: 19px;
  background-color: #FF9900;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  transition: background-color 0.2s ease-in-out 0s;
}

.footer__form .form__button:focus {
  background-color: #FFB84D;
}

.footer__form .form__button:hover {
  background-color: #FFB84D;
}

.footer__form .form__button:active {
  background-color: #E1670E;
}

.footer__form .form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}


.footer__right {
  width: 363px;
  height: 320px;
}

.footer__right .right__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}